html {
    font-size: 16px;
}

@media only screen 
and (max-width: 812px) 
{ 

  html {
      font-size: 12px;
  }
  .site-nav input:checked ~ .trigger a {
      color: black;
      margin-left: 0;
      padding-left: 18px;
  }
}

.site-header {
    background-color: #444;
    color: white;o4 -
}
.site-header a{
    font-weight: 600;
    font-size: 120%;
}


a.site-title, .site-title:visited {
    color: rgba(255,255,255,0.85);
    font-size: 200%;
}

.site-header .site-nav .page-link {
    color: #eee;
}

body.has-bgimage header.post-header {
    height: 20rem;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 150px 0 100px;
    border-bottom: 3px solid #333;
}


body.has-bgimage header.site-header{
    border-top: none;
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgb(255,255,255, 0.5);
}

body.has-bgimage header.post-header h1.post-title{
    margin-top: 6rem;
    font-weight: bold;
    color: white;
    font-size: 4rem;
    text-shadow: 0 0 2.5rem rgba(0,0,0,0.3), 0 1px 3px black;
}

body.has-bgimage header.post-header h2{
    font-weight: bold;
    color: #333;
    font-size: 2rem;
    text-shadow: 0 0 2.5rem rgba(255,255,255,0.6), 0 -1px 3px white;
}

