<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% capture bodyclass %}{%- if page.headerimage -%}has-bgimage{%- endif -%}{% endcapture %}
  
  {%- include head.html -%}

  <body class="{{ bodyclass }}">

    {%- include header.html -%}

    {%- if page.headerimage -%}
      <header class="post-header" style="background-image: url({{ page.headerimage }});">
          <h1 class="post-title">{{ page.title | escape }}</h1>
      </header>
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>